@mixin title($color, $size) {
  color: $color;
  font-family: Montserrat;
  font-size: $size;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin desc( $size) {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
