<section class="add">
  <div class="container">
    <h3 class="add__title">
      IT ALL ADDS UP TO ONE <br />
      EXCEPTIONAL <span class="add__span">TASTE</span> SENSATION
    </h3>
    <p class="add__p">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      <br />
      is in the details. From the sourcing of the finest ingredients to the
      <br />
      careful crafting of each individual piece, every step of our process adds
      <br />
      up to one exceptional taste sensation.
    </p>
    <ul class="add__list">
      <li class="add__item">
        <picture
          ><source
            srcset="
              ./images/chocolate1x.png 1x,
              ./images/chocolate2x.png 2x,
              ./images/chocolate3x.png 3x
            " />
          <img class="add__img" src="./images/chocolate1x.png" alt="chocolate"
        /></picture>
        <p class="add__item-pw">MILK CHOCOLATE</p>
      </li>

      <li class="add__item">
        <picture
          ><source srcset="./images/milk1x.png 1x, ./images/milk2x.png 2x" />
          <img class="add__img" src="./images/milk1x.png" alt="milk"
        /></picture>
        <p class="add__item-pb">Milk</p>
      </li>
      <li class="add__item">
        <picture
          ><source
            srcset="
              ./images/nuts1x.png 1x,
              ./images/nuts2x.png 2x,
              ./images/nuts3x.png 3x
            " />
          <img class="add__img" src="./images/nuts1x.png" alt="nuts"
        /></picture>
        <p class="add__item-pw">nuts</p>
      </li>
      <li class="add__item">
        <picture
          ><source
            srcset="
              ./images/spots1x.png 1x,
              ./images/spots2x.png 2x,
              ./images/spots3x.png 3x
            " />
          <img
            class="add__img"
            src="./images/spots1x.png"
            alt="chocolate spots"
        /></picture>
        <p class="add__item-pb">sEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
