<section class="add">
  <div class="container">
    <h3 class="add__title">
      IT ALL ADDS UP TO ONE <br />
      EXCEPTIONAL <span class="add__span">TASTE</span> SENSATION
    </h3>
    <p class="add__p">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="add__list">
      <li class="add__item">
        <picture
          ><source
            media="(min-width:1200px)"
            srcset="
              ./images/add/chocolate1x.png 1x,
              ./images/add/chocolate2x.png 2x,
              ./images/add/chocolate3x.png 3x
            "
          />
          <source
            media="(min-width:767px)"
            srcset="./images/add/chocolate1x.png 1x ./images/add/chocolate2x.png 2x"
          />
          <source
            media="(min-width:767px)"
            srcset="
              ./images/add/chocolate1x.png 1x,
              ./images/add/chocolate2x.png 2x,
              ./images/add/chocolate1x.png 3x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./images/add/chocolate1x.png 1x,
              ./images/add/chocolate2x.png 2x,
              ./images/add/chocolate1x.png 3x
            "
          />
          <img
            class="add__img"
            src="./images/add/chocolate1x.png"
            alt="chocolate"
          />
        </picture>
        <p class="add__subtitle">MILK CHOCOLATE</p>
        <div class="add__overlay">
          <h3 class="add__headline">Milk chocolate</h3>
          <div class="add__buttons">
            <button class="add__button">chocolate</button>
            <button class="add__button">the benefits</button>
          </div>
          <div class="add__p-wraper">
            <p class="add__card-p">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times... Although four-fifths of all milk chocolate
              is sold in the United States and Europe, increasingly large
              amounts are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>

      <li class="add__item">
        <picture
          ><source
            media="(min-width:1200px)"
            srcset="
              ./images/add/milk1x.png 1x,
              ./images/add/milk2x.png 2x,
              ./images/add/milk3x.png 3x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/add/milk1x.png 1x,
              ./images/add/milk2x.png 2x,
              ./images/add/milk3x.png 3x
            " />
          <source
            media="(min-width:320pxpx)"
            srcset="
              ./images/add/milk1x.png 1x,
              ./images/add/milk2x.png 2x,
              ./images/add/milk3x.png 3x
            " />
          <img class="add__img" src="./images/add/milk1x.png" alt="milk"
        /></picture>
        <p class="add__subtitle">Milk</p>
        <div class="add__overlay">
          <h3 class="add__headline">Milk</h3>
          <div class="add__buttons">
            <button class="add__button">milk</button>
            <button class="add__button">the benefits</button>
          </div>
          <div class="add__p-wraper">
            <p class="add__card-p">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk,... which is called colostrum,
              contains antibodies that strengthen the immune system ... , and
              thus reduces the risk of many diseases. Milk contains many
              nutrients, including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="add__item">
        <picture
          ><source
            media="(min-width:1200px)"
            srcset="
              ./images/add/nuts1x.png 1x,
              ./images/add/nuts2x.png 2x,
              ./images/add/nuts3x.png 3x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/add/nuts1x.png 1x,
              ./images/add/nuts2x.png 2x,
              ./images/add/nuts3x.png 3x
            " />
          <source
            media="(min-width:320px)"
            srcset="
              ./images/add/nuts1x.png 1x,
              ./images/add/nuts2x.png 2x,
              ./images/add/nuts3x.png 3x
            " />
          <img class="add__img" src="./images/add/nuts1x.png" alt="nuts"
        /></picture>
        <p class="add__subtitle">nuts</p>
        <div class="add__overlay">
          <h3 class="add__headline">nuts</h3>
          <div class="add__buttons">
            <button class="add__button">nuts</button>
            <button class="add__button">the benefits</button>
          </div>
          <div class="add__p-wraper">
            <p class="add__card-p">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source ... of fiber, healthy
              fats, and plant protein. Plus, > they’re great on their own,
              paired with fruit, or added to dishes like salads, desserts, and
              grains.
            </p>
          </div>
        </div>
      </li>
      <li class="add__item">
        <picture
          ><source
            media="(min-width:1200px)"
            srcset="
              ./images/add/spots1x.png 1x,
              ./images/add/spots2x.png 2x,
              ./images/add/spots3x.png 3x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/add/spots1x.png 1x,
              ./images/add/spots2x.png 2x,
              ./images/add/spots3x.png 3x
            " />
          <source
            media="(min-width:320px)"
            srcset="
              ./images/add/spots1x.png 1x,
              ./images/add/spots2x.png 2x,
              ./images/add/spots3x.png 3x
            " />
          <img
            class="add__img"
            src="./images/add/spots1x.png"
            alt="chocolate spots"
        /></picture>
        <p class="add__subtitle">sEMI - SWEET CHOCOLATE</p>
        <div class="add__overlay">
          <h3 class="add__headline">
            semi - sweet <br />
            chocolate
          </h3>
          <div class="add__buttons">
            <button class="add__button">chocolate</button>
            <button class="add__button">the benefits</button>
          </div>
          <div class="add__p-wraper">
            <p class="add__card-p">
              Semi-sweet chocolate has a <br />
              cocoa solid content of 35 to <br />
              65%. One of the best ways to <br />
              gain an understanding of this <br />
              type of chocolate is to compare <br />
              it to a different type of<br />
              chocolate. Semisweet is darker than milk chocolate. In a taste
              comparison, it has a slightly bitter taste whereas milk chocolate
              is sweeter and more mellow. This delectable flavor of chocolate is
              very versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
