<section class="add">
  <div class="container">
    <h3 class="add__title">
      IT ALL ADDS UP TO ONE <br />
      EXCEPTIONAL <span class="add__span">TASTE</span> SENSATION
    </h3>
    <p class="add__p">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="add__list">
      <li class="add__item"><img class="add__img" src="" alt="" /></li>
      <li class="add__item"><img class="add__img" src="" alt="" /></li>
      <li class="add__item"><img class="add__img" src="" alt="" /></li>
      <li class="add__item"><img class="add__img" src="" alt="" /></li>
    </ul>
  </div>
</section>
