<section class="loved" id="loved">
  <div class="container">
    <h3 class="loved__title">
      <span class="loved__span">chocolate</span> is loved
    </h3>
    <div class="reviews__slider">
      <ul data-aos="flip-right" class="loved__list swiper-wrapper">
        <li class="loved__item swiper-slide">
          <picture
            ><source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/victoria1x.png 1x,
                ./images/loved/victoria2x.png 2x,
                ./images/loved/victoria3x.png 3x
              "
            />

            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/victoria1x.png 1x,
                ./images/loved/victoria2x.png 2x,
                ./images/loved/victoria3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/victoria1x.png 1x,
                ./images/loved/victoria2x.png 2x,
                ./images/loved/victoria3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/victoria1x.png"
              alt="victoria"
            />
          </picture>
          <h4 class="loved__card-title">Victoria Dobrzhanska</h4>
          <p class="loved__p">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="loved__item swiper-slide">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/nazar1x.png 1x,
                ./images/loved/nazar2x.png 2x,
                ./images/loved/nazar3x.png 3x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/nazar1x.png 1x,
                ./images/loved/nazar2x.png 2x,
                ./images/loved/nazar3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/nazar1x.png 1x,
                ./images/loved/nazar2x.png 2x,
                ./images/loved/nazar3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/nazar1x.png"
              alt="nazar"
            />
          </picture>
          <h4 class="loved__card-title">Nazar Babenko</h4>
          <p class="loved__p">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="loved__item swiper-slide">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/olena1x.png 1x,
                ./images/loved/olena2x.png 2x,
                ./images/loved/olena3x.png 3x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/olena1x.png 1x,
                ./images/loved/olena2x.png 2x,
                ./images/loved/olena3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/olena1x.png 1x,
                ./images/loved/olena2x.png 2x,
                ./images/loved/olena3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/olena1x.png"
              alt="nazar"
            />
          </picture>
          <h4 class="loved__card-title">Olena Kampusch</h4>
          <p class="loved__p">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="loved__item swiper-slide">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/natalia1x.png 1x,
                ./images/loved/natalia2x.png 2x,
                ./images/loved/natalia3x.png 3x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/natalia1x.png 1x,
                ./images/loved/natalia2x.png 2x,
                ./images/loved/natalia3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/natalia1x.png 1x,
                ./images/loved/natalia2x.png 2x,
                ./images/loved/natalia3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/natalia1x.png"
              alt="nazar"
            />
          </picture>
          <h4 class="loved__card-title">Natalia Sus</h4>
          <p class="loved__p">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="loved__item swiper-slide">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/danilo1x.png 1x,
                ./images/loved/danilo2x.png 2x,
                ./images/loved/danilo3x.png 3x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/danilo1x.png 1x,
                ./images/loved/danilo2x.png 2x,
                ./images/loved/danilo3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/danilo1x.png 1x,
                ./images/loved/danilo2x.png 2x,
                ./images/loved/danilo3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/danilo1x.png"
              alt="nazar"
            />
          </picture>
          <h4 class="loved__card-title">Danilo Nottingham</h4>
          <p class="loved__p">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="loved__item swiper-slide">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/loved/irina1x.png 1x,
                ./images/loved/irina2x.png 2x,
                ./images/loved/irina3x.png 3x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/loved/irina1x.png 1x,
                ./images/loved/irina2x.png 2x,
                ./images/loved/irina3x.png 3x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./images/loved/irina1x.png 1x,
                ./images/loved/irina2x.png 2x,
                ./images/loved/irina3x.png 3x
              "
            />
            <img
              class="loved__img"
              src="./images/loved/danilo1x.png"
              alt="nazar"
            />
          </picture>
          <h4 class="loved__card-title">Irina Tydnyuk</h4>
          <p class="loved__p">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>

    <div class="loved__wrapper">
      <button class="loved__open-button" data-open-loved>Leave a review</button>
    </div>
  </div>
</section>
