<section class="loved">
  <div class="container">
    <h3 class="loved__title">
      <span class="loved__span">chocolate</span> is loved
    </h3>
    <ul class="loved__list">
      <li class="loved__item">
        <picture
          ><source
            media="(min-width:1200px)"
            srcset="
              ./images/loved/victoria1x.png 1x,
              ./images/loved/victoria1x.png 2x,
              ./images/loved/victoria3x.png 3x
            "
          />

          <source
            media="(min-width:768px)"
            srcset="
              ./images/loved/victoria1x.png 1x,
              ./images/loved/victoria1x.png 2x,
              ./images/loved/victoria3x.png 3x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./images/loved/victoria1x.png 1x,
              ./images/loved/victoria1x.png 2x,
              ./images/loved/victoria3x.png 3x
            "
          />
          <img
            class="loved__img"
            src="./images/loved/victoria1x.png"
            alt="chocolate"
          />
        </picture>
        <h4 class="loved__card-title">Victoria Dobrzhanska</h4>
      </li>
      <li class="loved__item"></li>
      <li class="loved__item"></li>
    </ul>
  </div>
</section>
