<div class="backdrop">
  <div class="order__modal modal">
    <button class="modal__close">
      <span class="modal__span">&times;</span>
    </button>
    <h2 class="modal__sudtitel">
      LEAVE A REVIEW ABOUT <br />
      <span class="order__span">OUR CHOCOLATE</span>
    </h2>
    <form class="modal__form">
      <input class="modal__input" type="text" required placeholder="Name" />
      <input class="modal__input" type="text" required placeholder="Email" />

      <div class="modal__call">
        <div class="modal__placeholder">
          <img src="./images/img/ua_flag.svg" alt="flag" />
          <span class="modal__placehaolder--num">+380</span>
        </div>
        <input
          type="text"
          required
          min="1"
          max="9"
          class="modal__tel "
          placeholder="Phone number"
        />
      </div>
      <textarea
        name="masseng"
        cols="30"
        rows="10"
        placeholder="Enter text"
      ></textarea>
      <button class="modal__btn open__subpop">Send</button>
    </form>
  </div>
</div>
