<section class="our_chocolates">
  <div class="container">
    <h2 class="our_chocolates__title">
      <span class="our_chocolates__span_title">OUR</span> PRODUCTS
    </h2>
    <div class="our_chocolates__slider">
      <ul class="our_chocolates__list swiper-wrapper">
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/orange1x.png 1x,
                ./images/our_chocolates/orange2x.png 2x
              "
              alt="orange chocolate"
              class="our_chocolates__image"
          /></picture>

          <h3 class="our_chocolates__name">Orange</h3>
          <p class="our_chocolates__type">Dark chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">45 UAH</h4>
          </div>
          ш
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/apple&cranberry1x.png 1x,
                ./images/our_chocolates/apple&cranberry2x.png 2x
              "
              alt="apple&cranberry chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">APPLE&CRANBERRY</h3>
          <p class="our_chocolates__type">Milk chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">50 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/lime&seasalt1x.png 1x,
                ./images/our_chocolates/lime&seasalt2x.png 2x
              "
              alt="lime&seasalt chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">LIME&SEA SALT</h3>
          <p class="our_chocolates__type">Dark chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">66 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/pineapple1x.png 1x,
                ./images/our_chocolates/pineapple2x.png 2x
              "
              alt="pineapple1 chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">PINEAPPLE</h3>
          <p class="our_chocolates__type">Dark chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">54 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/classicmilk1x.png 1x,
                ./images/our_chocolates/classicmilk2x.png 2x
              "
              alt="classic chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">CLASSIC</h3>
          <p class="our_chocolates__type">Milk chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">45 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/honey1x.png 1x,
                ./images/our_chocolates/honey2x.png 2x
              "
              alt="honey chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">HONEY</h3>
          <p class="our_chocolates__type">Milk chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">50 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/fruits1x.png 1x,
                ./images/our_chocolates/fruits2x.png 2x
              "
              alt="roasted fruits chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">ROASTED FRUITS</h3>
          <p class="our_chocolates__type">Dark chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">66 UAH</h4>
          </div>
        </li>
        <li class="our_chocolates__items swiper-slide">
          <picture>
            <img
              srcset="
                ./images/our_chocolates/classicwhite1x.png 1x,
                ./images/our_chocolates/classicwhite2x.png 2x
              "
              alt="classicw chocolate"
              class="our_chocolates__image"
          /></picture>
          <h3 class="our_chocolates__name">CLASSIC</h3>
          <p class="our_chocolates__type">White chocolate</p>
          <div class="our_chocolates__button">
            <h4 class="our_chocolates__price">54 UAH</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
