<div class="backdrop is-hidden-loved" data-backdrop-loved>
  <div class="order__modal modal">
    <span class="modal__cross modal_close-loved" data-close-loved>&times;</span>

    <h2 class="modal__sudtitle">
      LEAVE A REVIEW ABOUT <br />
      <span class="modal__span">OUR CHOCOLATE</span>
    </h2>
    <form class="modal__form">
      <input class="modal__input" type="text" required placeholder="Name" />
      <input class="modal__input" type="text" required placeholder="Email" />

      <div class="modal__call">
        <div class="modal__placeholder">
          <img
            class="modal__img"
            src="./images/loved/Frame.svg"
            alt="ua flag"
          />
          <span class="modal__placehaolder--num">+380</span>
        </div>
        <input
          type="text"
          required
          min="1"
          max="9"
          class="modal__tel"
          placeholder="Phone number"
        />
      </div>
      <textarea
        name="massage"
        cols="30"
        rows="10"
        placeholder="Enter text"
      ></textarea>
      <button class="modal__btn open__subpop" data-open-thanks>Send</button>
    </form>
  </div>
</div>