<div class="backdrop is-hidden animate__animated" data-backdrop-loved>
  <div class="loved__modal modal">
    <span class="modal__cross modal_close-loved" data-close-loved>&times;</span>

    <h2 class="modal__sudtitle">
      LEAVE A REVIEW ABOUT <br />
      <span class="modal__span">OUR CHOCOLATE</span>
    </h2>
    <form class="modal__formgroup  " id="modal-form">
      <div class="modal__firstform">
        <input
          type="text"
          class="modal__inp_name modal-loved__input"
          placeholder="Name"
          minlength="2"
          name="name"
          id="name"
          autocomplete="given-name"
        />
      </div>

      <input
        type="text"
        class="modal__inputsec modal-loved__input"
        placeholder="Email"
        minlength="8"
        name="email"
        id="email"
        autocomplete="email"

      />

      <div class="modal__thirdform modal-loved__thirdform">
        <img src="./images/sellersico/ua_flag.svg" alt="flag" />
        <p class="modal__thirdnum modal-loved__num">+380</p>
        <input
          type="text"
          class="modal__inputthird modal-loved__input"
          placeholder="Phone number"
          minlength="5"
          maxlength="18"
          name="phone"
          id="phone"
          autocomplete="tel"
        />
      </div>



        <textarea
          name="comment"
          id="comment"
          class="modal__textarea modal-loved__input"
          placeholder="Enter text"
          autocomplete="off"
        ></textarea>

      <button type="submit" class="sellers__btn modal__btn" data-open-thanks>
        Submit
      </button>
    </form>
  </div>
</div>
