<section class="sellers">
    <div class="container">
        <h2 class="sellers__title"><span class="sellers__span">tOp</span> Sellers</h2>
        <div class="sellers__block">
            <ul class="sellers__imglist">
                <li class="sellers__item">
                    <!-- <img srcset="./images/sellers/1xsell_choc1.png " alt="chocolate" class="sellers__img"> -->
                    <picture>
                        <source
                          media="(min-width: 1200px)"
                          srcset="
                            ./images/sellers/1xsell_choc1.png 1x,
                            ./images/sellers/2xsell_choc1.png 2x
                          "
                        />
                        <source
                          media="(max-width: 767px)"
                          srcset="
                            ./images/sellers/1xsell_choc_mob1.png 1x,
                            ./images/sellers/2xsell_choc_mob1.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/sellers/1xsell_choc_tb1.png 1x,
                            ./images/sellers/2xsell_choc_tb1.png 2x
                          "
                        />
                        <img
                          src="./images/sellers/1xsell_choc1.png"
                          alt="chocolate1"
                          class="sellers__img"
                        />
                    </picture>   
                </li>

                <li class="sellers__item">
                    <p class="sellers__mobdesk">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                </li>
                
                <li class="sellers__item">
                    <!-- <img srcset="./images/sellers/1xsell_choc2.png " alt="chocolate" class="sellers__img"> -->
                    <picture>
                        <source
                          media="(min-width: 1200px)"
                          srcset="
                            ./images/sellers/1xsell_choc2.png 1x,
                            ./images/sellers/2xsell_choc2.png 2x
                          "
                        />
                        <source
                          media="(max-width: 767px)"
                          srcset="
                            ./images/sellers/1xsell_choc_mob2.png 1x,
                            ./images/sellers/2xsell_choc_mob2.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/sellers/1xsell_choc_tb2.png 1x,
                            ./images/sellers/2xsell_choc_tb2.png 2x
                          "
                        />
                        <img
                          src="./images/sellers/1xsell_choc1.png"
                          alt="chocolate1"
                          class="sellers__img"
                        />
                    </picture>  
                </li>
                <li></li>
                <li class="sellers__item ">
                    <!-- <img class="sellers__img sellers__img3" src="./images/sellers/1xsell_choc3.png" alt="chocolate" > -->
                    <picture>
                        <source
                          srcset="
                            ./images/sellers/1xsell_choc3.png 1x,
                            ./images/sellers/2xsell_choc3.png 2x
                          "
                        />

                        <img
                          src="./images/sellers/1xsell_choc3.png"
                          alt="chocolate1"
                          class="sellers__img sellers__img3"
                        />
                    </picture>  
                </li>
            </ul>

            <div class="sellers__2block">
                <p class="sellers__desk">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                <button class="sellers__btn">Buy now</button>
            </div>
        </div>
    </div>
</section>