<section class="sellers">

    <div class="container">
        <h2 class="sellers__title">tOp Sellers</h2>
        <div class="sellers__block">
            <ul class="sellers__imglist">
                <li class="sellers__item">
                    <img srcset="./images/sellers/1xsell_choc1.png " alt="chocolate" class="sellers__img">
                </li>
                <li class="sellers_item">
                    <img srcset="./images/sellers/1xsell_choc2.png " alt="chocolate" class="sellers__img">
                </li>
                <li class="sellers_item">
                    <img srcset="./images/sellers/1xsell_choc3.png" alt="chocolate" class="sellers__img">
                </li>
            </ul>
            
        </div>
    </div>

</section>