<section class="sellers">

    <div class="container">
        <h2 class="sellers__title"><span class="sellers__span">tOp</span> Sellers</h2>
        <div class="sellers__block">
            <ul class="sellers__imglist">
                <li class="sellers__item">

                    <picture>
                        <source
                          media="(min-width: 1200px)"
                          srcset="
                            ./images/sellers/1xsell_choc1.png 1x,
                            ./images/sellers/2xsell_choc1.png 2x
                          "
                        />
                        <source
                          media="(max-width: 767px)"
                          srcset="
                            ./images/sellers/1xsell_choc_mob1.png 1x,
                            ./images/sellers/2xsell_choc_mob1.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/sellers/1xsell_choc_tb1.png 1x,
                            ./images/sellers/2xsell_choc_tb1.png 2x
                          "
                        />
                        <img
                          src="./images/sellers/1xsell_choc1.png"
                          alt="chocolate1"
                          class="sellers__img"
                        />
                    </picture>   
                </li>

                <li class="sellers__item sellers__mobdesk__item">
                    <p class="sellers__mobdesk">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                </li>
                
                <li class="sellers__item">

                    <picture>
                        <source
                          media="(min-width: 1200px)"
                          srcset="
                            ./images/sellers/1xsell_choc2.png 1x,
                            ./images/sellers/2xsell_choc2.png 2x
                          "
                        />
                        <source
                          media="(max-width: 767px)"
                          srcset="
                            ./images/sellers/1xsell_choc_mob2.png 1x,
                            ./images/sellers/2xsell_choc_mob2.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/sellers/1xsell_choc_tb2.png 1x,
                            ./images/sellers/2xsell_choc_tb2.png 2x
                          "
                        />
                        <img
                          src="./images/sellers/1xsell_choc1.png"
                          alt="chocolate1"
                          class="sellers__img"
                        />
                    </picture>  
                </li>
                <li class="sellers__mobbtn">
                  <button class="sellers__btn ">Buy now</button>
                </li>
                <li class="sellers__item sellers__img3">

                    <picture>
                        <source
                          srcset="
                            ./images/sellers/1xsell_choc3.png 1x,
                            ./images/sellers/2xsell_choc3.png 2x
                          "
                        />

                        <img
                          src="./images/sellers/1xsell_choc3.png"
                          alt="chocolate1"
                          class="sellers__img"
                        />
                    </picture>  
                </li>
            </ul>

            <div class="sellers__2block">
                <p class="sellers__desk">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                <button class="sellers__btn open_modal">Buy now</button>
            </div>
        </div>
    </div>

</section>


<div class="modal__overlay">
  <div class=" modal-sellers">

    <button class="modal-sellers__cbtn close_modal"><img src="./images/sellersico/close-modal.svg" alt="close"></button>

    <h2 class="sellers__title modal-sellers__title"><span class="sellers__span">bUY</span> nOW</h2>


    <ul class="modal-sellers__imglist">
      <li class="modal-sellers__item">
        <img src="./images/sellers/1choc_modal.png" alt="chocolate">
        <div class="modal-sellers__weightblock">
          <p class="modal-sellers__weight">100 g</p>
        </div>
      </li>
      <li class="modal-sellers__item">
        <img src="./images/sellers/2choc_modal.png" alt="chocolate">
        <div class="modal-sellers__weightblock">
          <p class="modal-sellers__weight">200 g</p>
        </div>
      </li>
      <li class="modal-sellers__item">
        <img src="./images/sellers/3choc_modal.png" alt="chocolate">
        <div class="modal-sellers__weightblock">
          <p class="modal-sellers__weight">300 g</p>
        </div>
      </li>
    </ul>

    <form class="modal-sellers__formgroup">
      <label class="modal-sellers__namelable" for="name">Personal information</label>
      <div class="modal-sellers__firstform">
        <input type="text" class="modal-sellers__inp_name" placeholder="Name">
        <input type="text" class="modal-sellers__inp_name" placeholder="Surname">
      </div>

      <label class="modal-sellers__namelable">Email</label>
      <div class="modal-sellers__secondform">
        <input type="text" class="modal-sellers__inputsec" placeholder="Enter your email">
      </div>





      <label class="modal-sellers__namelable" >Phone number</label>
      <div class="modal-sellers__thirdform">
        <img src="./images/sellersico/ua_flag.svg" alt="flag">
        <p class="modal-sellers__thirdnum">+380</p>
        <input type="text" class="modal-sellers__inputthird" placeholder="Phone number" minlength="5" maxlength="18">
      </div>


      <label class="modal-sellers__namelable">Card number</label>
      <div class="modal-sellers__secondform modal-sellers__fourthform">
        <input type="text" class="modal-sellers__inputsec" placeholder="Enter  card">
        <img class="modal-sellers__мastercard" src="./images/sellersico/мastercard.svg" alt="мastercard">
      </div>

      <div class="modal-sellers__fifthform">
        <label class="modal-sellers__namelable">Comment</label>
        <textarea name="" id="" class="modal-sellers__textarea" placeholder="Enter text"></textarea>
      </div>

      <button class="sellers__btn modal-sellers__btn">Submit</button>
    </form>
  </div>
</div>