<section class="skill">
    <div class="container">
      <h5 class="skill__title">hOW IT’S <span>made?</span></h5>
    <div class="skill__div">
        <h6 class="skill__div-rec">Try  our chocolates today and discover the perfect balance of flavor</h6>
        <picture>
          <source srcset="./images/skills/video1x.png 1x,
          ./images/skills/video2x.png 2x">
          <img src="./images/skills/video1x.png" alt="video">
        </picture>
        <ul class="skill__list">
            <li class="skill__items">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li class="skill__items">At the same time, prepare a water bath. Melt the butter on it.</li>
            <li class="skill__items">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li class="skill__items">Heat the mixture over low heat, letting it barely boil.</li>
            <li class="skill__items">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul>
    </div>
    </div>
</section>