<section id="skill" class="skill">
  <div class="container">
    <h2 class="skill__title">hOW IT’S <span>made?</span></h2>
    <div class="skill__wrapper">
      <div data-aos="fade-right" class="skill__video">
        <video
          data-setup="{}"
          controls
          preload="auto"
          poster="./images/skills/video2x.png"
          id="my-video"
          class="video-js vjs-theme-forest"
          width="600"
          height="400"
        >
          <source
            src="./images/skills/how-it's-made-Chocolate.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div data-aos="flip-left" class="skill__group">
        <h6 class="skill__div-rec">
          Try our chocolates today and discover the perfect balance of flavor
        </h6>
        <ul class="skill__list">
          <li class="skill__items">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="skill__items">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="skill__items">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="skill__items">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="skill__items">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
