<div class="subpop">
    <button class="subpop__close ">
      <span >&times;</span>
    </button>
    <div class="subpop__elements">
      <div class="subpop__box">
        <img src="./images/img/tetiana1px.png" alt="Chocolate" />
      </div>
      <div class="subpop__block">
        <h2 class="subpop__titel">
          Explore our <br />
          <span class="subpop__span"> new chocolate </span> first!
        </h2>
        <from class="subpop__from">
          <input class="subpop__input" type="text" placeholder="Enter your email" />
          <button class="subpop__btn open__pop">Submit</button>
        </from>
      </div>
    </div>
  </div>  

