<div class="subscribe is-hidden-subscribe animate__animated " data-backdrop-subscribe>
  <div class="subscribe__container">
    <button class="subscribe__close" data-close-subscribe>
      <svg
        class="thanks__svg"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M12 4L4 12"
          stroke="url(#paint0_linear_34_4366)"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M4 4L12 12"
          stroke="url(#paint1_linear_34_4366)"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <defs>
          <linearGradient
            id="paint0_linear_34_4366"
            x1="8.03478"
            y1="4"
            x2="7.76142"
            y2="11.9918"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_34_4366"
            x1="8.03478"
            y1="4"
            x2="7.76142"
            y2="11.9918"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
        </defs>
      </svg>
    </button>
    <div class="subscribe__elements">
      <div class="subscribe__box">
        <!-- Hello world -->
           <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/order-subscribe/tetiana1px.png 1x,
              ./images/order-subscribe/tetiana2px.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/order-subscribe/tetiana1px.png 1x,
              ./images/order-subscribe/tetiana2px.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/order-subscribe/tetiana1px.png 1x,
              ./images/order-subscribe/tetiana2px.png 2x
            "
          />
          <img
            src="./images/order-subscribe/tetiana1px.png"
            alt="Chocolate Photo"
            class="thanks-modal__img"
          />
        </picture> 
      </div>
      <div class="subscribe__block">
        <h2 class="subscribe__titel">
          Explore our <br />
          <span class="subscribe__span"> new chocolate </span> first!
        </h2>
        <from class="subscribe__from" id="subscribe-form">
          <input
            class="subscribe__input"
            type="email"
            placeholder="Enter your email"
            name="email"
            autocomplete="email"
          />
          <button class="subscribe__btn open__pop" data-open-thanks>Submit</button>
        </from>
      </div>
    </div>
  </div>
</div>
