<div class="subscribe">
  <div class="subscribe__container">
    <button class="subscribe__close">
      <span>&times;</span>
    </button>
    <div class="subscribe__elements">
      <div class="subscribe__box">
      <!--   <img src="./images/img/tetiana1px.png" alt="Chocolate" /> -->
      </div>
      <div class="subscribe__block">
        <h2 class="subscribe__titel">
          Explore our <br />
          <span class="subscribe__span"> new chocolate </span> first!
        </h2>
        <from class="subscribe__from">
          <input
            class="subscribe__input"
            type="text"
            placeholder="Enter your email"
          />
          <button class="subscribe__btn open__pop">Submit</button>
        </from>
      </div>
    </div>
  </div>
</div>
