<div 
  class="thanks is-hidden-thanks"
 
  data-backdrop-thanks
>
  <div class="thanks__container " >
    <button class="thanks__close" data-close-thanks>
      <svg
        class="thanks__svg"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M12 4L4 12"
          stroke="url(#paint0_linear_34_4366)"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M4 4L12 12"
          stroke="url(#paint1_linear_34_4366)"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <defs>
          <linearGradient
            id="paint0_linear_34_4366"
            x1="8.03478"
            y1="4"
            x2="7.76142"
            y2="11.9918"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_34_4366"
            x1="8.03478"
            y1="4"
            x2="7.76142"
            y2="11.9918"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
        </defs>
      </svg>
    </button>
    <div class="thanks__from">
      <article class="thanks__block">
        <h2 class="thanks__titel">
          thank you <br />
          for your feedback!
        </h2>
        <p class="thanks__desc">We are so happy to hear from you!</p>
      </article>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/order-thanks/chacolate-modal-desktop1x.png 1x,
          ./images/order-thanks/chacolate-modal-desktop2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/order-thanks/chacolate-modal-mob1x.png 1x,
          ./images/order-thanks/chacolate-modal-mob2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/order-thanks/chacolate-modal-tab1x.png 1x,
          ./images/order-thanks/chacolate-modal-tab2x.png 2x
        "
      />
      <img
        src="./images/order-thanks/chacolate-modal-tab1x.png"
        alt="Chocolate Photo"
        class="thanks-modal__img"
      />
    </picture>
  </div>
</div>
