.add {
  padding-top: 72px;
  &__title {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
  }
  &__subtitle {
    color: #ffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    position: absolute;
    bottom: 28px;
    left: 28px;
    margin: 0;
  }
  &__span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  &__p {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 19px;
    margin-top: 50px;
    @media (min-width: 320px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 704px;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1138px;
    }
  }
  &__item-pb {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left: 28px;
  }

  &__item-pw {
    color: #ffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;

    position: absolute;
    bottom: 28px;
    left: 28px;
  }
  &__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    &:nth-child(even) .add__subtitle {
      color: #111;
    }
    @media (min-width: 320px) {
      width: 100%;
      height: 270px;
    }
    @media (min-width: 768px) {
      width: 336px;
      height: 270px;
    }
    @media (min-width: 1200px) {
      width: 270px;
      height: 270px;
    }
    border-radius: 15px;
  }
  &__item:nth-child(1) {
    background: #fd9222;
  }
  &__item:nth-child(2) {
    border: 1px solid #fd9222;
    background: #fff;
  }
  &__item:nth-child(2):hover {
    border: 0;
  }
  &__item:nth-child(3) {
    background: #1e1823;
  }
  &__item:nth-child(4) {
    border: 1px solid #fd9222;
    background: #fff;
  }
  &__item:nth-child(4):hover {
    border: 0;
  }

  &__overlay {
    padding: 28px;
    top: 0;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    z-index: 20;
    left: 0;
    border: 1px solid #fd9222;
  }
  &__headline {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 6px;
    margin-top: 8px;
  }
  &__button {
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    background: #fd9222;
    padding: 6px 16px;
    border: none;
    border-radius: 35px;
    &:nth-child(2) {
      background: transparent;
      color: #111;
      border: 1px solid #fd9222;
    }
  }

  &__card-p {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translateX(-50%);
  }

  &__item:hover &__overlay {
    opacity: 1;
    background-color: #fafafa;
  }
  &__p-wraper {
    max-height: 146px;
    overflow-y: auto;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
