.information {
  padding: 50px 0;
  background: #1e1823;
  width: 100%;
  &__div {
    text-align: center;
    padding: 15px;
    width: 62px;
    height: 62px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  &__titel {
    @include title(#fff, 18px);
  }
  &__desc {
    @include desc(14px);
  }
  &__list {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 38px;

    @media (min-width: 768px) {
      gap: 60px;
    }

    @media (min-width: 1200px) {
      gap: 70px;
    }
  }
  &__item:nth-child(3) {
    border-right: none;
    @media (max-width: 768px) {
      border: none;
    }
    @media (max-width: 480px) {
      width: 100%;
      gap: 20px;
    }
  }
  &__item {

    height: 244px;
    @media (min-width: 480px) {
      width: 100%;
      gap: 20px;
    }
    @media (min-width: 768px) {
      width: 308px;
      padding: 0;
      border: none;
    }
    @media (min-width: 1200px) {
      border-right: 2px solid rgba(255, 255, 255, 0.5);
      padding-right: 18px;
    }
  }
}
