.container {
    width: 1200px;
    height: 270px;
    flex-shrink: 0;
    background: #1E1823;
}
.footer_menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.footer_contacts{
    display: flex;
    align-items: center;
    gap: 18px;
}
.footer_contacts svg {
    width: 24px;
    height: 24px;
}