.loved {
  padding: 128px 0;
  &__list {
    margin-top: 74px !important;
    display: flex;

    @media (min-width: 768px) {
      margin-top: 91px !important;
    }
  }
  &__item {
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    height: 200px;
    padding: 42px 15px;
    width: 335px;
    @media (min-width: 768px) {
      width: 344px;
    }
    @media (min-width: 1200px) {
      width: 360px;
    }
  }
  &__item:nth-child(3) {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &__item:nth-child(2) {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__title {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
  }
  &__span {
    color: #fd9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  &__card-title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }
  &__p {
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-top: 24px;
  }
  &__img {
    position: absolute;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
  }

  &__open-button {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #fd9222;
    padding: 14px 40px;
    cursor: pointer;
    margin-top: 94px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  &__slider {
    position: relative;
    overflow: hidden;
  }
  .swiper__pagination {
    display: flex;
    justify-content: center;

    margin: auto;
    gap: 13px;

    margin-top: 20px;
    @media (min-width: 375px) {
      margin-top: 20px;
    }
    @media (min-width: 768px) {
      margin-top: 32px;
    }
  }
  .swiper-pagination-bullet {
    background-color: $color_3;
    width: 13px;
    height: 13px;
    margin: 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
  }
  .swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    border-radius: 100px;
    background-color: #fd9222;
  }
}
.is-hidden-loved {
  pointer-events: none;
  opacity: 0;
}
