.order {
  backdrop-filter: (30%);
  width: 100%;

  position: relative;
  padding: 62px 0;
  background: url(../images/order-img/order-bg1x.png) center/cover no-repeat;
  .advertising { 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 62px 20px 63px 20px; 
    background-image: linear-gradient( 
        0deg, 
        rgba(0, 0, 0, 0.2) 0%, 
        rgba(0, 0, 0, 0.2) 100% 
      ), 
      url(../images/order-img/order-bg1x.png); 
   
    @media (min-device-pixel-ratio: 2), 
      (-webkit-min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi), 
      (min-resolution: 2dppx) { 
      background-image: url(../images/order-img/Subcribe1px-mobil.png); 
    } 
   
    @media screen and (min-width: 768px) { 
      background-image: linear-gradient( 
          0deg, 
          rgba(0, 0, 0, 0.2) 0%, 
          rgba(0, 0, 0, 0.2) 100% 
        ), 
        url(../images/order-img/Subcribe1px-teblet.png); 
   
      @media (min-device-pixel-ratio: 2), 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) { 
        background-image: url(../images/order-img/Subcribe2px-tablet.png); 
      } 
      padding: 72px 151px 72px 150px; 
    } 
   
    @media screen and (min-width: 1200px) { 
      background-image: linear-gradient( 
          0deg, 
          rgba(0, 0, 0, 0.2) 0%, 
          rgba(0, 0, 0, 0.2) 100% 
        ), 
        url(../images/order-img/order-bg1x.png); 
   
      @media (min-device-pixel-ratio: 2), 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) { 
        background-image: url(../images/order-img/order-bg2x.png); 
      } 
      padding: 72px 367px 72px 366px; 
    } 
  }
  @media (max-width: 768px) {
    padding: 72px 0;
  }
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__titel {
    @include titel(20px, #fff);
    text-align: center;
    @media (max-width: 768px) {
      font-size: 24px;
      letter-spacing: -0.72px;line-height: 28px;
    }
  }
  &__desc {
    text-align: center;
    margin: 24px 0;
    max-width: 326px;
    @include desc(14px, #fff);
    @media (min-width: 768px) {
      max-width: 467px;
    }
  }
  &__btn {
    cursor: pointer;
    @include desc(18px, #fff);
    padding: 14px 40px;
    border: 0;
    border-radius: 100px;
    background: #fd9222;
    @media (max-width: 480px) {
      font-size: 14px;
      padding: 12px 28px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      padding: 12px 28px;
    }
  }
  &__span {
    color: #fd9222;
  }
  &__modal {
    padding: 40px;
    position: relative;
    width: 517px;
    height: 631px;
    border-radius: 15px;
    background: #fafafa;
    @media (max-width: 480px) {
      width: 311px;
      height: 490px;
    }
  }
}
