.backdrop {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.5s;
}

.modal {

  &__sudtitle {
    color: #111;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    // margin-left: 40px;
    margin-top: 40px;
    @media (min-width: 320px) {
      // margin-left: 24px;
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 24px;

      line-height: 28px;
      letter-spacing: -0.72px;
    }
  }
 
  &__btn {
    @include button;
    border: 0;
    width: 117px;
    height: 45px;
    margin-top: 18px;
    padding: 0;
    @media (max-width: 480px) {
      width: 93px;
      height: 41px;
    }
  }
  &__subpop {
    display: block;
    padding-right: 10px;
    position: fixed;
    top: 50%;
    width: 516px;
    height: 414px;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      position: absolute;
      top: 96px;
      left: 0;
    }
  }

  &__cross {
    position: absolute;
    border-radius: 100%;
    border: 0;
    top: 0;
    right: 0;
    padding: 28px;
  }
  &__titel {
    @include titel(24px, #fff);
  }
  &__desc {
    @include desc(18px, #fff);
  }

  &__span {
    color: #fd9222;
  }
}
.is-hidden-thanks {
  opacity: 0;
  pointer-events: none;
}
textarea {
  overflow: hidden;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  resize: none;
  outline: none;
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-top: 22px;
  width: 100%;
  @media (min-width: 320px) {
    height: 91px;
    font-size: 14px;
    padding-right: 34px;
  }
  @media (min-width: 768px) {
    height: 137px;
    font-size: 18px;
  }
}

.modal-loved__input {
  width: 100%;
}
.modal-loved__num {
  margin-right: 25px;
}

.modal-loved__thirdform {
  &::after {
    left: 44%;
    @media (min-width: 720px) {
      left: 24%;
    }
    @media (min-width: 768px) {
      left: 32%;
    }
  }
}
.loved__modal {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  background: #fafafa;
  @media (min-width: 320px) {
    width: 311px;
    height: 471px;
  }
  @media (min-width: 720px) {
    width: 517px;
    height: 631px;
  }
}