.backdrop {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.5s;
}
.modal {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  background: #fafafa;
  @media (min-width: 320px) {
    width: 311px;
    height: 471px;
  }
  @media (min-width: 720px) {
    width: 517px;
    height: 631px;
  }

  &__sudtitle {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    // margin-left: 40px;
    margin-top: 40px;
    @media (min-width: 320px) {
      // margin-left: 24px;
      font-size: 14px;
    }
    @media (min-width: 768px) {
      // margin-left: 40px;
      font-size: 18px;
    }
  }
  &__call {
    box-sizing: border-box;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    align-items: center;
    background: #fff;
    display: flex;
    @media (min-width: 320px) {
      width: 263px;
      padding: 14px 18px;
      // margin-right: 34px;
    }
    @media (min-width: 768px) {
      width: 437px;
      padding: 17px 23px;
    }
  }
  &__placeholder {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    gap: 18px;
    border-right: 1px solid #d8d6d6;
    @media (min-width: 320px) {
      font-size: 14px;
      padding-right: 30px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__tel {
    border: none;
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    height: 22px;
    outline: none;
    padding-left: 28px;
    width: 100%;
    border-radius: 13px;
    box-sizing: border-box;
    @media (min-width: 320px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  &__thirdform::after {
    content: '';
    width: 2px;
    height: 32px;
    background: rgba(64, 64, 64, 0.3);
    position: absolute;
    left: 23%;
    top: 25%;
  }

  &__thirdnum {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin: 0;
    margin-left: 18px;
    margin-right: 60px;
  }
  &__input {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    padding: 22px 24px;
    border-radius: 13px;
    box-sizing: border-box;
    width: 100%;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
    @media (min-width: 320px) {
      font-size: 14px;
      padding: 14px 15px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
      padding: 22px 24px;
    }
  }
  &__form {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 437px;
    gap: 19px;
    @media (min-width: 320px) {
      width: 263px;
      padding-right: 14px;
    }
    @media (min-width: 768px) {
      width: 437px;
      padding-left: -68px;
    }
  }
  &__btn {
    @include button;
    border: 0;
    width: 117px;
    height: 45px;
    @media (max-width: 480px) {
      width: 93px;
      height: 41px;
    }
  }
  &__subpop {
    display: block;
    padding-right: 10px;
    position: fixed;
    top: 50%;
    width: 516px;
    height: 414px;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      position: absolute;
      top: 96px;
      left: 0;
    }
  }

  &__cross {
    position: absolute;
    border-radius: 100%;
    border: 0;
    top: 0;
    right: 0;
    padding: 28px;
  }
  &__titel {
    @include titel(24px, #fff);
  }
  &__desc {
    @include desc(18px, #fff);
  }

  &__span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    @media (min-width: 320px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
.is-hidden-thanks {
  opacity: 0;
  pointer-events: none;
}
textarea {
  overflow: hidden;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  resize: none;
  outline: none;
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-top: 22px;
  padding-left: 24px;
  @media (min-width: 320px) {
    height: 91px;
    width: 263px;
    font-size: 14px;
    padding-right: 34px;
  }
  @media (min-width: 768px) {
    height: 137px;
    width: 437px;
    font-size: 18px;
  }
}
