.skill {
  background: #fafafa;
  @media (min-width: 768px) {
    padding: 100px 0 0;
  }
  @media (min-width: 1140px) {
    padding: 125px 0 41px;
  }

  &__title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin: 0;
  }
  &__title span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  &__div-rec {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 15px;
    margin-bottom: 28px;
  }

  &__list {
    list-style-type: disc;
    display: flex;
    width: 451px;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 0;

    @media (max-width: 320px) {
      width: 219px;
      height: 324px;
      gap: 13px;
    }
  }
  &__items {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }
  &__group {
    display: flex;
    width: 516px;

    padding: 32px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    background: #fff;
    @media (max-width: 320px) {
      width: 280px;
      
      display: flex;
      padding: 20px 14px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__div {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 320px) {
      display: flex;
      
      
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  &__block {
    height: 51px;
    background: #d9d9d9;
    margin-top: 35px;
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
   &__play {
    // position: absolute;
    // bottom: 47%;
    // left: 26%;
  //   @media (max-width: 768px) {
  //     left: 47%;
  //     bottom: 74%;
  // }
  }
  &__position {
    position: relative;
    @media (max-width: 320px) {
      height: 500px;
      border-radius: 15px;
      overflow: hidden;
    }
  }
  &__video {
    position: relative;
    
  }
  &__play:focus  {
    cursor: pointer;
    opacity: 0;
  }
  &__main {
    gap: 50px;
    display: flex;
    flex-direction: column;
    // @media (max-width: 768px) {
    //   display: flex;
    //   gap: 50px;
    //   flex-direction: column;
    // }
  }
}
picture {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
video {
  border-radius: 15px;
  width: 600px;
  height: 400px;

  @media (max-width: 320px) {
    width: 280px;
    height: 500px;
  }
}
