.thanks {
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  bottom: 0;
  z-index: 50;
  &__container {
    overflow: hidden;
    border-radius: 15px;
    background: #fd9222;
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    position: absolute;
    bottom: 0px;
    border-radius: 15px;
    @media (max-width: 375px) {
      bottom: 0px;
    }
  }
  &__from {
    width: 516px;
    height: 414px;
    @media (max-width: 375px) {
      width: 311px;
      height: 350px;
    }
  }

  &__close {
    border-radius: 100%;
    border: 0;
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 24px 452px 26px;
    @media (max-width: 375px) {
      margin: 14px 269px 14px;
      width: 28px;
      height: 28px;
    }
  }
  &__svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 22px;
    height: 22px;
    @media (max-width: 375px) {
      width: 16px;
      height: 16px;
      top: 6px;
      left: 6px;
    }
  }
  &__titel {
    color: $color3;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 375px) {
      font-size: 20px;
      line-height: 24px; /* 120% */
      letter-spacing: -0.4px;
    }
  }
  &__desc {
    color: $color3;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    margin: 0;
    @media (max-width: 375px) {
      font-size: 14px;
      line-height: 16px; /* 120% */
      letter-spacing: -0.28px;
    }
  }
  &__block {
    margin: 163px 49px 163px 170px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    @media (max-width: 375px) {
      margin: 84px 24px 178px 58px;
    }
  }
}
.is-hidden-thanks {
  opacity: 0;
  pointer-events: none;
}
